<p>Now you have made your 25 picks you need to select your captain who will score you double points in the season.</p>
<p>It can't be one of your favourites so your options are in the drop down.</p>
<div class="form-group">
  <label for="team_captain_id">Captain</label>
  <select class="form-control" name="team[captain_id]" id="team_captain_id">
    <% if @captain_options.present? %>
      <% @captain_options.each do |option| %>
        <option value="<%= option.id %>" <%= @current_captain_selection == option ? 'selected' : '' %>><%= option.name %> for <%= option.competition.name %></option>
      <% end %>
    <% else %>
        <option disabled selected value> -- Captain options will appear here -- </option>
    <% end %>
  </select>
</div>
