<% fav_color_class = @favourite_count > TeamValidator::FAVOURITE_LIMIT ? 'over-fav-limit' : 'under-fav-limit' %>
<% fav_count = @favourite_count %>
<% if @favourite_count > TeamValidator::FAVOURITE_LIMIT  %>
    <% over_count = fav_count - TeamValidator::FAVOURITE_LIMIT  %>
    <p id="favourite_count" class="<%= fav_color_class %>">You have <%= over_count  %> too many favourites </p>
<% end %>