<% transfers_count = @transfers_count %>
<% if @transfers_count <= TeamValidator::TRANSFER_LIMIT %>
    <% available_count = TeamValidator::TRANSFER_LIMIT - transfers_count %>
    <p id="transfers_count" class="under-transfer-limit">You have <%= available_count %> transfers left</p>
<% elsif @transfers_count > TeamValidator::TRANSFER_LIMIT %>
    <% over_count = transfers_count - TeamValidator::TRANSFER_LIMIT %>
    <p id="transfers_count" class="over-transfer-limit">You are <%= pluralize(over_count, 'transfer') %> over the limit</p>
<% end %>
