<%= render 'layouts/payment_notice' %>
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="league-info-wrapper card with-padding">
        <h1>Stage 3 Leaderboard</h1>
        <p><%= link_to 'Back to all leagues', leagues_path, class: 'btn btn-primary block-page-btn' %></p>
        <hr>
        <h3 class="text-muted">Prize Money</h3>
        <h4><%= number_to_currency(200, unit: '£') %></h4>
      </div>
      <ol class="list-group card">

        
        <li class="list-group-item">
        <span class="league-position">1.</span>
        <div class="team-info">
        <span class="team-name">Lucky picks</span>
        <span class="user-name">(James Wylie)</span>
        </div>
        <span class="team-points">44pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">1.</span>
        <div class="team-info">
        <span class="team-name">The Rusty Shacklefords</span>
        <span class="user-name">(darren conboy)</span>
        </div>
        <span class="team-points">44pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">1.</span>
        <div class="team-info">
        <span class="team-name">Alex Williams</span>
        <span class="user-name">(Alex Williams)</span>
        </div>
        <span class="team-points">44pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">4.</span>
        <div class="team-info">
        <span class="team-name">Back the fittest</span>
        <span class="user-name">(Haddy Walker)</span>
        </div>
        <span class="team-points">42pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">5.</span>
        <div class="team-info">
        <span class="team-name">The Jester</span>
        <span class="user-name">(Rory Walkinshaw)</span>
        </div>
        <span class="team-points">40pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">5.</span>
        <div class="team-info">
        <span class="team-name">Chateau Neuf de Jaf</span>
        <span class="user-name">(Richard Jaffa)</span>
        </div>
        <span class="team-points">40pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">5.</span>
        <div class="team-info">
        <span class="team-name">O-Pack-O</span>
        <span class="user-name">(Oscar Maddox)</span>
        </div>
        <span class="team-points">40pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">5.</span>
        <div class="team-info">
        <span class="team-name">Jens Planets</span>
        <span class="user-name">(Jenny Plant)</span>
        </div>
        <span class="team-points">40pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">5.</span>
        <div class="team-info">
        <span class="team-name">Scrapheep Challenger</span>
        <span class="user-name">(Chris Gilbert)</span>
        </div>
        <span class="team-points">40pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Billy's Kids</span>
        <span class="user-name">(Will Day-Robinson)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Jayjay okocha thats hot</span>
        <span class="user-name">(Max Murley)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Kawhi Of The Tiger</span>
        <span class="user-name">(Jamie Couling)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Scrim Pickings</span>
        <span class="user-name">(Jack Scrimshaw)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Paula Radcliffe’s Port-a-Loo sprint team</span>
        <span class="user-name">(Fran Wilkes)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">The Little Williams</span>
        <span class="user-name">(Cara Williams)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">The Mighty Geese</span>
        <span class="user-name">(Angus Barthram)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">10.</span>
        <div class="team-info">
        <span class="team-name">Mark Lathwell Grows Legumes</span>
        <span class="user-name">(Alexander Milward)</span>
        </div>
        <span class="team-points">36pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">milk n donuts</span>
        <span class="user-name">(Tom Piotrowski)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">ShiptonMead</span>
        <span class="user-name">(Mark Hudson)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">Pryors Panthers</span>
        <span class="user-name">(Jake Pryor)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">Maltsmen</span>
        <span class="user-name">(George Maltby)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">If you’re not first, you’re last</span>
        <span class="user-name">(Ed Willis)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">Ham Sandwich</span>
        <span class="user-name">(Callum Burden)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">18.</span>
        <div class="team-info">
        <span class="team-name">Kiss my Chaminda Vaas</span>
        <span class="user-name">(Bruce Martin)</span>
        </div>
        <span class="team-points">34pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">25.</span>
        <div class="team-info">
        <span class="team-name">Mandy Williams</span>
        <span class="user-name">(Mandy Williams)</span>
        </div>
        <span class="team-points">32pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">25.</span>
        <div class="team-info">
        <span class="team-name">Lulu’s Lemons</span>
        <span class="user-name">(Lucy Williams)</span>
        </div>
        <span class="team-points">32pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">25.</span>
        <div class="team-info">
        <span class="team-name">Deontay Soleimani’s Bomb Squad</span>
        <span class="user-name">(Gus Beswick)</span>
        </div>
        <span class="team-points">32pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">25.</span>
        <div class="team-info">
        <span class="team-name">Camberwell Crusaders</span>
        <span class="user-name">(Archie Wall)</span>
        </div>
        <span class="team-points">32pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">25.</span>
        <div class="team-info">
        <span class="team-name">Jordi Fens is Terry Fyde</span>
        <span class="user-name">(Alexander Furby)</span>
        </div>
        <span class="team-points">32pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">30.</span>
        <div class="team-info">
        <span class="team-name">Broad the Sword</span>
        <span class="user-name">(Will Broad)</span>
        </div>
        <span class="team-points">30pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">30.</span>
        <div class="team-info">
        <span class="team-name">Peter</span>
        <span class="user-name">(Peter Wall)</span>
        </div>
        <span class="team-points">30pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">30.</span>
        <div class="team-info">
        <span class="team-name">The Magisterium</span>
        <span class="user-name">(Josh Walker)</span>
        </div>
        <span class="team-points">30pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">30.</span>
        <div class="team-info">
        <span class="team-name">Leather Magic</span>
        <span class="user-name">(Daniel Cowley)</span>
        </div>
        <span class="team-points">30pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">30.</span>
        <div class="team-info">
        <span class="team-name">Just Alex</span>
        <span class="user-name">(Alex Brown)</span>
        </div>
        <span class="team-points">30pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">35.</span>
        <div class="team-info">
        <span class="team-name">Woods Wanderers</span>
        <span class="user-name">(Megan Wood)</span>
        </div>
        <span class="team-points">28pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">35.</span>
        <div class="team-info">
        <span class="team-name">The Fackulty</span>
        <span class="user-name">(Max Fack)</span>
        </div>
        <span class="team-points">28pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">35.</span>
        <div class="team-info">
        <span class="team-name">Maple Syrup</span>
        <span class="user-name">(Jennah Hay)</span>
        </div>
        <span class="team-points">28pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Noah's Ark</span>
        <span class="user-name">(Samuel Mathew)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Monkey Badgers</span>
        <span class="user-name">(Sally Kay)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Riders of Rohan</span>
        <span class="user-name">(Rohan Premnath)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Ricki J</span>
        <span class="user-name">(Ricki Jacobs)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Norwich is Power</span>
        <span class="user-name">(Peter Shipp)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Sanddancers</span>
        <span class="user-name">(Les Monger)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Sandy Stars</span>
        <span class="user-name">(Laura Sandy)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">KickuptheRs</span>
        <span class="user-name">(Keith Newport)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Ball of Duty</span>
        <span class="user-name">(Johan Mills)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">AFC Barnemouth</span>
        <span class="user-name">(Joe Barnett)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Making Emile Of It</span>
        <span class="user-name">(Jack Roberts)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Big Baby Miller</span>
        <span class="user-name">(Jack  Newport)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Bielsa's Beautiful Blue Bucket</span>
        <span class="user-name">(Haaris Ahmed)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">GCorks1</span>
        <span class="user-name">(George Corkett)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">On the Outside</span>
        <span class="user-name">(Gareth Monger)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">The Favourongs</span>
        <span class="user-name">(Danny Rickard)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Dantasy Sports</span>
        <span class="user-name">(Dan Williams)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Stal Bucharest</span>
        <span class="user-name">(Conor Stalbow)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Swift and Bold</span>
        <span class="user-name">(Ben Shuttleworth)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">The Garibaldi's</span>
        <span class="user-name">(Ben Gerner)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">38.</span>
        <div class="team-info">
        <span class="team-name">Bug Men</span>
        <span class="user-name">(Alexander Wall)</span>
        </div>
        <span class="team-points">26pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">Victor Radley Fan Club</span>
        <span class="user-name">(Tate Bartlett)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">Ironmongers Athletic</span>
        <span class="user-name">(Steven Bedford)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">PK Picks</span>
        <span class="user-name">(Pratik Kotecha)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">Chicken dinner</span>
        <span class="user-name">(Prashant Gandhi)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">You Sadio Little Mané</span>
        <span class="user-name">(Phil Anscombe)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">The Old Codger</span>
        <span class="user-name">(Llew Monger)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">Neville Wears Prada</span>
        <span class="user-name">(John Burnet)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">The Hay Stack</span>
        <span class="user-name">(Jack Hay)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">59.</span>
        <div class="team-info">
        <span class="team-name">Deans Chiefs</span>
        <span class="user-name">(Daniel Keane)</span>
        </div>
        <span class="team-points">24pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Different Gravy</span>
        <span class="user-name">(Robert Kettleborough)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Pistol Pete's Letdowns</span>
        <span class="user-name">(Peter Alevizos)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Basta Pasta</span>
        <span class="user-name">(Oliver Cripps)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">HobGoblers</span>
        <span class="user-name">(Max Hobson)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Lucy’s Large Army</span>
        <span class="user-name">(Lucy Thomson)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Spudball</span>
        <span class="user-name">(Larne O'Donoghue)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Fenway Sports Park</span>
        <span class="user-name">(James Feneley)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Gordonians</span>
        <span class="user-name">(Gordon Sinclair)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Super White Army</span>
        <span class="user-name">(Fred Taylor)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Oh</span>
        <span class="user-name">(Emlyn Williams)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Woodsmeister Fedéralé</span>
        <span class="user-name">(David Woods)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">Dartboard Doubtfuls</span>
        <span class="user-name">(Clare Barker)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">68.</span>
        <div class="team-info">
        <span class="team-name">T2020</span>
        <span class="user-name">(Chris B)</span>
        </div>
        <span class="team-points">22pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">Will Brown</span>
        <span class="user-name">(William Brown)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">Tref's Table Topplers</span>
        <span class="user-name">(Trefor Williams)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">Greta Thunberg’s Atlantic rowing team</span>
        <span class="user-name">(Tom Cartwright)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">Undecided</span>
        <span class="user-name">(Tim Walker)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">Not the Sharpest Vermeul-in the Boks</span>
        <span class="user-name">(Jo Charles)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">HECTORS HEROES</span>
        <span class="user-name">(Fi Wall)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">81.</span>
        <div class="team-info">
        <span class="team-name">CornStar’s All Stars</span>
        <span class="user-name">(Cornelia  Stamp)</span>
        </div>
        <span class="team-points">20pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">Back T.he Francis</span>
        <span class="user-name">(Toby Francis)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">Smit Mit Kipper</span>
        <span class="user-name">(Neil Smith)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">Humeys Lion Picks</span>
        <span class="user-name">(Michael Hume)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">Boris’ Beauts</span>
        <span class="user-name">(Harry Underwood)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">Delia's Y&G army</span>
        <span class="user-name">(anthony Brand)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">88.</span>
        <div class="team-info">
        <span class="team-name">When the  Fun Stops, Stop</span>
        <span class="user-name">(Andrew Hopkins)</span>
        </div>
        <span class="team-points">18pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">The Outsiders</span>
        <span class="user-name">(Will Gallimore)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">Darville Dynamos</span>
        <span class="user-name">(Tom Tanner)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">Country roads take Mahomes</span>
        <span class="user-name">(Samuel Kenrick)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">The Waddesdon Raider</span>
        <span class="user-name">(Robin Newport)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">upset gang</span>
        <span class="user-name">(Patrick Duggan)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">Jackonaldo</span>
        <span class="user-name">(Oliver Jackman)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">Bernyule</span>
        <span class="user-name">(Jon Bernstein)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">Lucy Jim</span>
        <span class="user-name">(Jim Mallinder)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">JLEW</span>
        <span class="user-name">(Jack Lewis)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">AC Carbonara</span>
        <span class="user-name">(Gabriele Maroso)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">hills</span>
        <span class="user-name">(Felix Hill)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">94.</span>
        <div class="team-info">
        <span class="team-name">The Notorious AOD</span>
        <span class="user-name">(Aaron O'Donoghue)</span>
        </div>
        <span class="team-points">16pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">Tom Chapman</span>
        <span class="user-name">(Thomas  Chapman)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">East Leake Utd</span>
        <span class="user-name">(Steve Lewis-roberts)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">Luka daniels</span>
        <span class="user-name">(Luka Daniels)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">Arisooligans</span>
        <span class="user-name">(Harry Powell)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">Klayers gonna Klay</span>
        <span class="user-name">(David Fisher)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">Anne and Murray</span>
        <span class="user-name">(Anne Brown)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">106.</span>
        <div class="team-info">
        <span class="team-name">This years wooden spoon.........</span>
        <span class="user-name">(Alex  Warren)</span>
        </div>
        <span class="team-points">14pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">113.</span>
        <div class="team-info">
        <span class="team-name">Kinnar's Super Star</span>
        <span class="user-name">(Kinnar Patel)</span>
        </div>
        <span class="team-points">12pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">113.</span>
        <div class="team-info">
        <span class="team-name">JLB</span>
        <span class="user-name">(Jodie Barber)</span>
        </div>
        <span class="team-points">12pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">113.</span>
        <div class="team-info">
        <span class="team-name">Forthewin</span>
        <span class="user-name">(Dale Jones)</span>
        </div>
        <span class="team-points">12pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">113.</span>
        <div class="team-info">
        <span class="team-name">Beths winners</span>
        <span class="user-name">(Bethan Warren)</span>
        </div>
        <span class="team-points">12pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">Strictly Susan</span>
        <span class="user-name">(Susan Lewis-Roberts)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">In with a Chance</span>
        <span class="user-name">(Sandra Monger)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">Rick's Picks 2020</span>
        <span class="user-name">(Nick Roblin)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">JC JUGGERNAUTS</span>
        <span class="user-name">(James Cox)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">christopher palmer</span>
        <span class="user-name">(christopher palmer)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">117.</span>
        <div class="team-info">
        <span class="team-name">Norfolk'n'Good</span>
        <span class="user-name">(Chris Lickfold)</span>
        </div>
        <span class="team-points">10pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">123.</span>
        <div class="team-info">
        <span class="team-name">Vancouver Fan Club</span>
        <span class="user-name">(Jack Church)</span>
        </div>
        <span class="team-points">8pts</span>
        </li>
        
        
        <li class="list-group-item">
        <span class="league-position">124.</span>
        <div class="team-info">
        <span class="team-name">Jaffa's Oranjes</span>
        <span class="user-name">(Jay Jaffa)</span>
        </div>
        <span class="team-points">2pts</span>
        </li>
          
        
      </ol>
    </div>
  </div>
</div>