<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 card with-padding">
      <h1 class="text-center">BTF Events</h1>
      <ul class="list-group">
        <% @competitions.each do |competition| %>
          <li class="list-group-item competitions-index">
            <h3 class="text-muted">Event</h3>
            <h4><%= competition.name %></h4>
            <p><%= link_to '(View competition info)', competition_path(competition), target: '_blank' %></p>
            <h3 class="text-muted">Favourite</h3>
            <% unless competition.favourite_id == nil %>
              <h4><%= competition.favourite.name %></h4>
            <% else %>
              <h4>No favourite></h4>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

     
