<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card with-padding">
        <h1>Rules and Guidance</h1>
        <p>Welcome to the 3rd edition of Back the Favourite, the sports prediction game run over the course of 2020 that features 25 separate sporting events across 16 different sports.</p>
        <p>Below is a summary</p>

        <h3>Rules</h3>
        <p>The objective is to predict as many correct winners across the 25 sporting events through the year. These events are designed to cover a broad range of sports with a mixtures of men's and women's events where there are a number of potential winners.</p>
        <p>More often than not the category is who will win the sporting event, however there are a few categories that are different.</p>
        <p>You can only pick a maximum of 5 favourites. These favourites have been chosen by The Commissioners and reflect a mixture of players and teams with the lowest betting odds and respected sports publications' favourites. </p>
        <p>Given the nature of choosing favourites up to a year in advance these may well change in the real world in the run up to an event. However, favourites are fixed in the game and will not change.</p>

        <h3>Scoring</h3>
        <p>Point scoring is as follows</p>
        <p>If a team or person wins an event, and a player picked them, they get 10 points </p>
        <p>If a team or person comes second in an event, and a player picked them, they get 4 points</p>
        <p>If a team or person comes third in an event, and a player picked them, they get 2 points</p>
        <p>If there are multiple 3rd place finishers (semi finals but no 3rd/4th place playoff, no league table etc.) then any player who picks one of these 3rd place finishers get 2 points</p>
        <p>You also have a Captain chip available to you. You may select one of your non-favourite picks as a Captain; if they score they will receive double points</p>
        <p>In the event of a tie in the overall competition - there is a tiebreaker prediction that will decide the winner</p>

        <h3>Transfers</h3>
        <p>You are able to make 4 transfers throughout the year within the following guidelines:</p>
        <p>Each player can only have a maximum of 5 favourites at any one time (i.e. you cannot swap a non-favourite for a favourite unless you have space to do so)</p>
        <ul>
          <li>You can only make transfers before an event begins. The start date / transfer deadlines for each event can be found @ (insert link to deadlines on websites)</li>
          <li>If you transfer out your captain, the player or team that replaces them becomes your captain</li>
          <li>You are able to change your captain however this will cost a transfer (it must be to another non-favourite and before both events have started)"</li>
        </ul>

        <h3>Leagues</h3>
        <p>You will automatically be entered into the main BTF league.</p>
        <p>You can create a mini-league when you submit your predictions. If you wish to set up one or more mini-leagues please go to ‘Leagues’ tab of website.</p>
        <p>NB - However, we will not be organising any wagers amongst mini-leagues.</p>

        <h3>Prize Money</h3>
        <p>100% of the entrance fees will be invested back into the prize pots, therefore the size of the prize pot will be dependant on the amount of players who participate. We will announce the size of the prize pot wc 6th January once all entries and payments have been confirmed</p>
        <p>TBC: The money will be split between the across the top 5 entrants placed players roughly along the following lines %'s: 1st place - 40% of pot,  of the overall competition (points score) played throughout the year (2019 split was x% 1st, x% 2nd etc)</p>
        <ul>
        <li>1st place: 40%</li>
        <li>2nd place: 20%</li>
        <li>3rd place: 10% </li>
        <li>4th place: 6%</li>
        <li>5th place: 4%</li>
        </ul>
        <p>There will also be 4 prize pots of 5% each for the top scorers per each quarter (as a rough breakdown, with a £3000 prize pot this would mean 1-£1200, 2- £600, 3- £300, 4-£180, 5-£120 + 4 x quarterly prizes of £150)</p>
        <h3>How to Enter</h3>
        <p>Entrance deadline is Tuesday 31st December. </p>
        <p>You then need to simply pick the team or person you think will win each event from the drop down options</p>
        <p>You will need to pay the entry fee of £20 and has to be paid prior to the deadline Sunday January 5th. Please also transfer your entry £20 to:</p>
        <p>- Name: Mr Daniel T Williams</p>
        <p>- Account Number: 63502368</p>
        <p>- Sort Code: 30-90-38</p>
      </div>
    </div>
  </div>
</div>