<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card with-padding rules-and-guidance">
        <h1>Rules and Guidance</h1>
        <p>Welcome to the 3rd edition of Back The Favourite (BTF), the sports prediction game where the objective is to predict the winners of 25 sporting events run over the course of 2020.</p>
        <p>These events are designed to cover a broad range of sports with a mixture of mainstream events (i.e. Euro 2020, Men’s T20 World Cup) and more niche events (i.e. Women’s Downhill Skiing World Cup, Netball Superleague).</p>
        <h2>Rules</h2>
        <p>You need to pick a competitor in each of the 25 events. Points are awarded for predicting the 1st, 2nd and 3rd place in each event and the winner of BTF will be the person that picks up the most points across all 25 events. More often than not the category is who will win the sporting event, however there are a few categories that are different (i.e. Premier League Top Goalscorer).</p>
        <p>For each of the events there is a ‘Favourite’, which will have been chosen by The Commissioners. <strong>You can only pick a maximum of 5 favourites across the 25 events.</strong></p>
        <p>These favourites have been chosen by The Commissioners to a mixture of the lowest betting odds and respected sports publications' favourites. Given the nature of choosing favourites up to a year in advance these may well change in the real world in the run up to an event. However, favourites are fixed in the game and will not change.</p>
        <p>You will also need to select a ‘Captain’, who will score you double points in their respective event, however your Captain cannot be one of your 5 Favourites.</p>
        <p><i>*The Ryder Cup is the one event without a favourite, where the objective of this event is to predict the winning margin between Europe and the USA.</i></p>
        <h2>Scoring</h2>
        <p>Point scoring is as follows:</p>
        <ul>
          <li>If a team or player wins an event they get 10 points</li>
          <li>If a team or player comes second in an event they get 4 points</li>
          <li>If a team or player comes third in an event they get 2 points</li>
          <ul>
            <li>If there are multiple 3rd place finishers (e.g. no 3rd/4th place playoff) then any person who picks one of these 3rd place finishers get 2 points</li>
          </ul>
          <li>You also have a Captain chip available to you. You may select one of your non-favourite picks as a Captain; if they score any points these will then be doubled</li>
        </ul>
        <p>In the event that two or more people are tied on points, the person who has picked the most event winners will win. If people are still level then any winnings will be split equally.</p>
        <h2>Transfers</h2>
        <p>You will be able to make 4 transfers throughout the year within the following guidelines:</p>
        <ul>
          <li>Each person can only have a maximum of 5 favourites at any one time (i.e. you cannot swap a non-favourite for a favourite unless you have space to do so)</li>
          <li>You can only make transfers before an event begins</li>
          <li>If you transfer out your captain, the player or team that replaces them becomes your captain</li>
          <li>You are able to change your captain however this will cost a transfer (it must be to another non-favourite and before both events have started)</li>
        </ul>
        <h2>Leagues</h2>
        <p>You will automatically be entered into The BTF Leaderboard.</p>
        <p>You can create a local league when you submit your predictions. If you wish to set up one or more local leagues please go to the ‘My Leagues’ tab of the website.</p>
        <p>You can join other local leagues by selecting the local league and selecting ‘Join League’.</p>
        <p>Please note we will not be organising any wagers amongst local leagues.</p>
        <h2>Prize Money</h2>
        <p>The entry fee for BTF 2020 is £20 and 100% of the entry fees will be invested back into a prize pot. Therefore the size of the prize pot will be dependant on the amount of people who participate. We will announce the size of the prize pot once all entries and payments have been confirmed.</p>
        <p>The money will be split between the top 5 entrants roughly along the following %'s (NB - we will confirm this once we know the size of the pot):</p>
        <ul>
          <li>1st place: 40%</li>
          <li>2nd place: 20%</li>
          <li>3rd place: 10%</li>
          <li>4th place: 6%</li>
          <li>5th place: 4%</li>
        </ul>
        <p>There will also be 4 prize pots of 5% each for the top scorers of each quarter of the year.</p>
        <p>As a rough breakdown, with a £3,000 prize pot this would mean 1st - £1,200, 2nd - £600, 3rd - £300, 4th - £180, 5th - £120 and 4 x quarterly prizes of £150.</p>
        <h2>How to Enter</h2>
        <p>The entrance deadline is <strong>6pm on Saturday 4th January.</strong></p>
        <p>You simply need to follow the instructions on the ‘My Teams’ tab to make your picks for each of the 25 events and enter your team.</p>
        <p>You will need to pay the £20 entry fee prior to the deadline. Use the link below to pay your entry fee.</p>
        <p>Please could you add the email you used to sign up with as a reference to the payment.</p>
        <%= link_to 'Pay here', @payment_link, class: 'btn btn-primary league-btn', target: '_blank' %>
        <p>Please note that it may take up to 3 days to process your entry fee. Until then you will still see a payment reminder until your fee has been processed.</p>
        <p>For any payment related queries please email <%= mail_to 'backthefavourite@gmail.com' %>.</p>
      </div>
    </div>
  </div>
</div>