<%= render 'layouts/payment_notice' %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 transfers">
      <div class="card with-padding transfers">
        <h1 class="text-center">Transfers</h1>
        <p>Throughout the season you will be able to make 4 transfers throughout the year within the following guidelines:</p>
        <ul>
          <li>Each person can only have a maximum of 5 favourites at any one time (i.e. you cannot swap a non-favourite for a favourite unless you have space to do so)</li>
          <li>You can only make transfers before an event begins</li>
          <li>If you transfer out your captain, the player or team that replaces them becomes your captain</li>
          <li>You are able to change your captain however this will cost a transfer (it must be to another non-favourite and before both events have started)</li>
        </ul>
        <h2>How to make a transfer</h2>
        <% if current_user&.can_make_transfers? %>
          <%= link_to 'Make transfers', edit_team_path(current_user.team), class: 'btn btn-primary block-page-btn transfers' %>
        <% end %>   
        <table class="table table-striped">
          <tr>
            <th scope="col">Sport</th>
            <th scope="col">Event Name</th>
            <th scope="col">Transfer Deadline</th>
          </tr>
          <tr>
            <td>Snooker</td>
            <td>The Masters</td>
            <td>Jan 12th @1000</td>
          </tr>
            <td>Tennis</td>
            <td>Australian Open Men's</td>
            <td>Jan 19th @2200</td>
          <tr>
            <td>Rugby League</td>
            <td>Grand Final</td>
            <td>Jan 30th @1900</td>
          </tr>
          <tr>
            <td>Rugby Union</td>
            <td>Six Nations</td>
            <td>Feb 1st @1200</td>
          </tr>
          <tr>
            <td>Football</td>
            <td>Champions League</td>
            <td>Feb 18th @2000</td>
          </tr>
          <tr>
            <td>Cricket</td>
            <td>Women's T20 World Cup</td>
            <td>Feb 20th @2200</td>
          </tr>
          <tr>
            <td>Netball</td>
            <td>Vitality Super League</td>
            <td>Feb 22nd @1100</td>
          </tr>
          <tr>
            <td>Horse Racing</td>
            <td>Cheltenham Festival Champion Trainer</td>
            <td>Mar 10th @1200</td>
          </tr>
          <tr>
            <td>F1</td>
            <td>Drivers Championship</td>
            <td>Mar 16th @0500</td>
          </tr>
          <tr>
            <td>Golf</td>
            <td>The Masters</td>
            <td>Apr 9th @1100</td>
          </tr>
          <tr>
            <td>Football</td>
            <td>Euro 2020</td>
            <td>Jun 12th @2000</td>
          </tr>
          <tr>
            <td>Cycling</td>
            <td>Tour De France Yellow Jersey</td>
            <td>Jun 27th @0900</td>
          </tr>
          <tr>
            <td>Tennis</td>
            <td>Wimbledon Women's</td>
            <td>Jun 29th @1200</td>
          </tr>
          <tr>
            <td>Cricket</td>
            <td>The Hundred</td>
            <td>Jul 17th @1800</td>
          </tr>
          <tr>
            <td>Olympics</td>
            <td>Women's Hockey</td>
            <td>Jul 25th @0900</td>
          </tr>
          <tr>
            <td>Olympics</td>
            <td>Olympics Cycling Overall Medal Table</td>
            <td>Jul 25th @0200</td>
          </tr>
          <tr>
            <td>Olympics</td>
            <td>Women's 100m</td>
            <td>Jul 30th @2300</td>
          </tr>
          <tr>
            <td>Golf</td>
            <td>Ryder Cup - Winners + Margin</td>
            <td>Sep 28th @1200</td>
          </tr>
          <tr>
            <td>Cricket</td>
            <td>Men's T20 World Cup</td>
            <td>Oct 18th @0400</td>
          </tr>
        </table>
        <h4>NB: There are a number of events where you are not able to make transfers:</h4>
        <table class="table table-striped">
          <tr>
            <th scope="col">Sport</th>
            <th scope="col">Event Name</th>
            <th scope="col">Transfer Deadline</th>
          </tr>
          <tr>
            <td>Skiing</td>
            <td>Women's Skiing Women Cup (Downhill)</td>
            <td>N/A</td>
          </tr>
            <td>Rugby Union</td>
            <td>Champions Cup</td>
            <td>N/A</td>
          </tr>
          </tr>
            <td>Football</td>
            <td>Barclays Premier League Top Scorer</td>
            <td>N/A</td>
          </tr>
          </tr>
            <td>Football</td>
            <td>WSL Winner</td>
            <td>N/A</td>
          </tr>
          </tr>
            <td>Basketball</td>
            <td>NBA</td>
            <td>N/A</td>
          </tr>
          </tr>
            <td>NFL</td>
            <td>Super Bowl LII</td>
            <td>N/A</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>