<%= render 'layouts/payment_notice' %>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="card with-padding rules-and-guidance">
        <h1 class="text-center">Transfers</h1>
        <p>More information coming soon. Please email <%= mail_to 'backthefavourite@gmail.com' %> for any questions</p>
      </div>
    </div>
  </div>
</div>