<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Welcome to Back The Favourite 2020</h1>
      <div class="p-wrapper">
        <p>Welcome to the 3rd edition of Back The Favourite (BTF), the sports prediction game where the objective is to predict the winners of 25 sporting events run over the course of 2020.</p>
        <hr>
        <p>Points are awarded for predicting the 1st, 2nd and 3rd place in each event and the winner of BTF will be the person that picks up the most points across the 25 events. There is an entry fee of £20, with all entry fees being invested back into a prize pot.</p>
        <hr>
        <p>For each of the events there is a ‘Favourite’, which has been chosen by The Commissioners. <strong>You can only pick a maximum of 5 favourites across the 25 events.</strong></p>
        <hr>
        <p>You will also need to select a ‘Captain’, who will score you double points in their respective event, however your Captain cannot be one of your 5 Favourites.</p>
        <hr>
        <p>Throughout the course of the year you will be able to make a number of 'Transfers', however the bulk of your team will be made from the picks you make now.</p>
        <hr>
        <p>You will automatically be entered into the main BTF Leaderboard, however you are also able to set up ‘Local Leagues’ to compete directly against your friends and family once you have picked your team.</p>
        <hr>
        <p>You can find more detailed information on scoring, transfers, leagues and rules in the <a href="/rules-and-guidance" target="_blank">Rules and Guidance tab</a>.</p>
        <hr>
        <% if before_update_team_deadline? %>
          <p>Ready to make your picks?</p>
          <p><%= link_to "Pick Your Team", new_team_path, class: 'btn btn-primary block-page-btn' %></p> 
        <% else %>
          <p><strong>The deadline to enter this year's competition has now passed. Please email us at <%= mail_to 'backthefavourite@gmail.com' %> to register your interest in next year's game.</strong></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
