<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="text-center">Welcome to Back The Favourite</h1>
      <div class="p-wrapper">
        <p>Welcome to the 3rd edition of Back The Favourite, the sports prediction game run over the course of 2020 that features 25 separate sporting events across 16 different sports.</p>
        <hr>
        <p>The objective is to predict as many correct winners across the 25 sporting events through the year. These events are designed to cover a broad range of sports with a mixtures of men's and women's events where there are a number of potential winners.</p>
        <hr>
        <p>More often than not the category is who will win the sporting event, however there are a few categories that are different.</p>
        <hr>
        <p>You can only pick a maximum of 5 favourites. These favourites have been chosen by The Commissioners and reflect a mixture of players and teams with the lowest betting odds and respected sports publications' favourites. </p>
        <hr>
        <p>Given the nature of choosing favourites up to a year in advance these may well change in the real world in the run up to an event. However, favourites are fixed in the game and will not change.</p>
        <hr>
        <p>Ready to make your picks? <%= link_to "Pick your team.", new_team_path %></p>
        <p><a href="/rules-and-guidance">Read more about the Rules and Guidance.</a></p>
      </div>
    </div>
  </div>
</div>
