/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "teams.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

.over-fav-limit
{
  color: #dc3545;
}
.under-fav-limit
{
  color: #28a745;
}

.navbar
{
  box-shadow: 0 6px 7px 0 rgba(0,0,0,.15);
  padding: 10px 0;
}

.navbar-brand
{
  padding: 0;
}

ul
{
  list-style-type: none;
  padding-inline-start: 0;
}
