/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "teams.scss";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "rails_bootstrap_forms";

$btf-pink: #ff5757;

body
{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1
{
  margin-bottom: 20px;
}

h3#favourite_count
{
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0;
  text-align: center;
}
p#favourite_count
{
  margin-bottom: 0;
}

.scroll-padding
{
  padding: 10px 0;
  box-shadow: 0 6px 7px 0 rgba(0,0,0,.15);
}
div#team_captain_id
{
  margin-bottom: 20px;
}
form
{
  padding: 20px;
}

.form-footer
{
  padding: 0  20px;
}

.over-fav-limit
{
  color: #dc3545;
}
.under-fav-limit
{
  color: #28a745;
}

.navbar
{
  // box-shadow: 0 6px 7px 0 rgba(0,0,0,.15);
  padding: 10px 0;
}

.navbar-default
{
  background-color: $btf-pink;
  padding: 10px 20px;
}

.navbar-brand
{
  padding: 0;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
}

.navbar-default .navbar-nav > li > a
{
  color: white;

  &.active
  {
    color: black;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-collapse
{
  border: none;
  box-shadow: none;
}

ul, ol
{
  list-style-type: none;
  padding-inline-start: 0;
}

.error-message
{
  color: $btf-pink;
  font-size: 20px;
  text-align: center;
}

.favourite-color
{
  background-color: #FFEF6F;
  // border: 1px solid #FFEF6F;
}
.captain-color
{
  background-color: #91d67c;
  // border: 1px solid #91d67c;
}

.btn-primary
{
  background-color: $btf-pink;
  border-color: $btf-pink;

  &:hover
  {
    background-color: white;
    color: $btf-pink;
    border-color: $btf-pink;
  }

  &:active:disabled,
  &:hover:disabled,
  &:enabled:active
  {
    background-color: $btf-pink;
    border-color: $btf-pink;
    color: white;
  }
}

// Team show
.team-info-wrapper,
.deadline-text-wrapper
{
  padding: 10px 15px;
}
// .team-info-wrapper,
// ul.list-group
// {
//   box-shadow: 0 6px 7px 0 rgba(0,0,0,.15);
// }
.list-group-item
{
  position: flex;
  padding: 10px 75px 10px 15px;

  .btf-logo
  {
    position: absolute;
    right: 15px;
    top: 0;
    height: 100%;
  }
}